/* @import "reset.css"; */

/* body {
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:stretch;
  }
  
  .box {
    flex: 1 1 auto;
    
  } */

  body {
    background-image: repeating-linear-gradient(45deg, #09cbf1, #09cbf1 2em, #20d0eb 1em, #20d0eb 50%);
    background-size: 4em 4em;
  } 

fieldset {
    position: relative;
    top: 680px;
    width: 170px;
    border: solid;
    border-color: white;
    border-style: bold thick;
    border-width: 15px;
    padding: 20px;
}


.dropbtn {
    position:relative;
    left: 700px;
    top: 600px;
    background-color: white;
    color: #09cbf1;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #09cbf1;}


#add-item-button {
    border:none;
    background-color:cornflowerblue;
    padding:7px;
    cursor:pointer;
}

#add-item-button:hover {
    background-color: rgb(135, 169, 233);
}

#add-item-form {
    width:250px;
    margin: 30px auto;
    border: 1px solid black;
}

form ul {
    display:flex;
}

legend {
    text-align:center;
    padding:3px 0;
}

.align-legend {
    display:flex;
    margin:5px auto;
    width:240px;
    justify-content: space-between;
}

input[type="date"] {
    width:150px;
    border-bottom:1px solid gray;
    border-top:none;
    border-left:none;
    border-right:none;
    outline:none;
}

label {
    padding-right:20px;
}

select {
    width:150px;
    border-bottom:1px solid gray;
    border-top:none;
    border-left:none;
    border-right:none;
    outline:none;
}

input[type="text"] {
    font-size:18px;
    border-bottom:1px solid gray;
    border-top:none;
    border-left:none;
    border-right:none;
    width:230px;
    outline:none;
    margin:5px;
}

input[type="submit"] {
    width:100%;
    border:none;
    background-color:cornflowerblue;
    padding:7px;
    cursor:pointer;
}

input[type="submit"]:hover {
    background-color:rgb(135, 169, 233);
}

.hidden {
    display:none;
}
