@import "reset.css";

#add-item-button {
    border:none;
    background-color:cornflowerblue;
    padding:7px;
    cursor:pointer;
}

#add-item-button:hover {
    background-color: rgb(135, 169, 233);
}

#add-item-form {
    width:250px;
    margin: 30px auto;
    border: 1px solid black;
}

form ul {
    display:flex;
}

legend {
    text-align:center;
    padding:3px 0;
}

.align-legend {
    display:flex;
    margin:5px auto;
    width:240px;
    justify-content: space-between;
}

input[type="date"] {
    width:150px;
    border-bottom:1px solid gray;
    border-top:none;
    border-left:none;
    border-right:none;
    outline:none;
}

label {
    padding-right:20px;
}

select {
    width:150px;
    border-bottom:1px solid gray;
    border-top:none;
    border-left:none;
    border-right:none;
    outline:none;
}

input[type="text"] {
    font-size:18px;
    border-bottom:1px solid gray;
    border-top:none;
    border-left:none;
    border-right:none;
    width:230px;
    outline:none;
    margin:5px;
}

input[type="submit"] {
    width:100%;
    border:none;
    background-color:cornflowerblue;
    padding:7px;
    cursor:pointer;
}

input[type="submit"]:hover {
    background-color:rgb(135, 169, 233);
}

.hidden {
    display:none;
}
